.PieChart {
    display: inline;
}

.ReportContainer {
    margin-top: 10rem;
    display: flex;
    /* background-color: grey; */
    padding-top: 8vh;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.ChartContainer {
    flex: 3;
    border-color: black;
    border: 8px;
    display: grid;
    width: 50%;
    height: 50%;
    align-self: left;
    justify-self: left;
    justify-content: left;
    text-align: left;
}

.ShareContainer {
    flex: 2;
    display: grid;
    /* width: 100%; */
    /* background-color: red; */
}

@media screen and (max-width: 480px) {
    .ChartContainer {
        width: 90%;
    }
    .ReportContainer{
        flex-direction: column-reverse;
        padding-top: 4vh;
    }
    .ShareContainer{
        flex: 0;
        padding-bottom: 4rem;
        
    }


}
