.SettingContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1.25rem;
    justify-content: left;
    align-content: center;
    justify-items: left;
    align-items: center;
    padding: 8px;
    padding-inline: 32px;
    /* margin: 8px; */
}
@media screen and (max-width: 480px) {
    .SettingContainer {
      padding-inline: 16px;
    }
  }
.SettingName {
    text-align: left;
    font-weight: 400;
    font-size: medium;
    opacity: 75%;
}