.PrimaryActionButton {
    background-color: white;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-radius: 32px;
    font-size: 20px;
    padding-inline: 16px;
    font-stretch: semi-expanded;
    letter-spacing: 6px;
}

